env/**/**
__pycache__/**/*
.git/**/**
.vscode/**/**
horrible/cache/**
postgresql_/*
database/postgresql_/**/**
database/pgdata/**/**
horrible/mission-stats/**
horrible/mission-events/**
horrible/framtimes/**
horrible/tacview/**
**/**/.mypy_cache/**/**
horrible/tacview/**
**/**/__pycache__/**/**
log/**/**
tests/data/**/**
node_modules/**/**