env/**
*.pyc
cache/*
dcs-storage-gcs.json
**/postgresql_/*
horrible/cache/**
**/**/scratch.py
**/mission-stats/**/**
*.DS_Store
**/frametimes/**
**/.mypy_cache/**
database/pgdata/**
.vscode/settings.json
horrible/static/js/three.js/**/**
horrible/mission-events/**
**/tacview/**
**/**/dcs.db*
**/**/*.log
**/**/*.gz
node_modules/**/**
static/main-bundle.js