<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- BS4 Datatable syles -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/fc-3.3.0/rr-1.2.6/sc-2.0.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/fc-3.3.0/rr-1.2.6/sc-2.0.1/datatables.min.js"></script>
    {% block header_scripts %}
    {% endblock %}
  </head>
  <body>
    <div class="w-85 p-3">
      <div class="jumbotron" style="padding-top:45px">
        <h1 class="display-4">Horrible Stats For A Horrible Server</h1>

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">
              <img src="/static/images/tests_out.png" alt="">
            </a>
            <ul id="nav_set" class="nav nav-pills">
              <li class="nav-item">
                <a id="overall" name="overall" class="nav-link active" href="/#" role="button">Overall</a>
              </li>
              <li class="nav-item">
                <a  id="weapons" class="nav-link" href="/weapons">Weapon Efficiency</a>
              </li>
              <li class="nav-item">
                <a  id="survivability" class="nav-link" href="/survivability">Kills/Losses</a>
              </li>
              <li class="nav-item">
                <a id="stat_logs" name="stat_logs" class="nav-link" href="/#">Log-DB-Status</a>
              </li>
              <li class="nav-item">
                <a id="weapon_db" name="weapon_db" class="nav-link" href="/#">Weapon-DB</a>
              </li>
              <li class="nav-item">
                <a id="user_detail_link" class="nav-link" href="#">User Detail</a>
              </li>
            </ul>
          </nav>
          <div id="table_container" style="padding-top:15px">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
  {% block scripts %}
  {% endblock %}
</html>
