{% extends "base.html" %}

  {% block navbar %}
    <li class="nav-item active">
      <a class="nav-link" href="/">Overall</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/weapons">Weapon Efficiency</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/survivability">Kills/Losses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/stats_logs">Log-DB-Status</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/weapon_db">Weapon-DB</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">User Detail</a>
    </li>
  {% endblock %}
  <div style="width:100%">

      {{data | safe}}
  </div>
    {% block scripts %}

      <script type="text/javascript">
        $(document).ready(function() {
            $('#stats').DataTable( {
                "paging": "false",
                "pageLength": 75,
                "rowId": "index",
                "fixedColumns": true,
                "autoWidth": false,
                'className': 'dt-body-right',
                "lengthChange" : false,
                // "scrollY": 300,
                "scrollX": true,
                // "order": [[ -1, "desc" ]],
                "sScrollX": "100%",
                "fixedColumns":   {
                  "leftColumns": 1
                },
                'initComplete': function () {
            this.api().columns().every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
            } );
        }
              }
            );
        });
      </script>
  {% endblock %}
