{% extends "base.html" %}
  {% block content %}
    <div id="overall_container">
      <table id="overall_tbl" class="table table-bordered table-hover" style="width: 100%"></table>
    </div>
    <div id="weapon_db_container">
      <table id="weapon_db_tbl" class="table table-bordered table-hover" style="width: 100%"></table>
    </div>
    <div id="stat_logs_container">
      <table id="stat_logs_tbl" class="table table-bordered table-hover" style="width: 100%"></table>
    </div>
    <div id="weapons_container">
      <table id="weapons_tbl" class="table table-bordered table-hover" style="width: 100%"></table>
    </div>
    <div id="survivability_container">
      <table id="survivability_tbl" class="table table-bordered table-hover" style="width: 100%"></table>
    </div>
    <div id="tacview_container">
      <table id="tacview_tbl" class="table table-bordered table-hover" style="width: 100%"></table>
    </div>
  {% endblock %}
  {% block scripts %}
    <script type="text/javascript" src="/static/js/table_loader.js"></script>
  {% endblock %}
