{% extends "base.html" %}
  {% block content %}
    <table id="stats" class="table table-bordered table-hover" style="width:100%">
    </table>
  {% endblock %}
  {% block scripts %}
    <script type="text/javascript">
      document.getElementById("stats_logs_link").classList.add('active');
      $(document).ready(function() {
          $('#stats').DataTable( {
            processing: true,
            ajax: {
              url: "/json_data?name=stat_logs",
              dataSrc: 'data'
            },
            columns: [
              { "title":"File Name" },
              { "title":"Session Start Time" },
              { "title":"Processed" },
              { "title":"Processed At" },
              { "title":"Errors" }
            ],
            order: [[ 1, "desc" ]],
            rowId: "index",
            paging: false,
            pageLength: 50,
            fixedColumns: false,
            autoWidth: true,
            lengthChange : false,
            scrollY: 500,
            scrollX: true,
            sScrollX: "100%",
            }
          );
      });
    </script>
  {% endblock %}
