{% extends "base.html" %}
  {% block content %}
    {{data | safe}}
  {% endblock %}
  {% block scripts %}
    <script type="text/javascript">
      document.getElementById("overall").classList.remove('active');
      document.getElementById("weapons").classList.add('active');
      $(document).ready(function() {
          $('#stats').DataTable( {
            paging: "false",
            pageLength: 75,
            rowId: "index",
            fixedColumns: true,
            autoWidth: false,
            className: 'dt-body-center',
            lengthChange : false,
            scrollX: true,
            sScrollX: "100%",
            }
          );
      });
    </script>
  {% endblock %}
