{% extends "base.html" %}
  {% block content %}
    <table id="stats" class="table table-bordered table-hover" style="width:100%">
    </table>
  {% endblock %}
  {% block scripts %}
    <script type="text/javascript">
      document.getElementById("weapons_db_link").classList.add('active');
      $(document).ready(function() {
          $('#stats').DataTable( {
            ajax: {
              url: "/json_data?name=weapons_db",
              dataSrc: 'data'
            },
            columns: [
              { "title":"Name" },
              { "title":"Category" },
              { "title":"Type" }
            ],
            paging: false,
            pageLength: 50,
            rowId: "index",
            fixedColumns: false,
            autoWidth: true,
            lengthChange : false,
            scrollY: 500,
            scrollX: true,
            sScrollX: "100%",
            }
          );
      });
    </script>
  {% endblock %}
