{% extends "base.html" %}
  {% block content %}
    {{data | safe}}
  {% endblock %}
  {% block scripts %}
    <script type="text/javascript">
      document.getElementById("weapons_link").classList.add('active');
      $(document).ready(function() {
          $('#stats').DataTable( {
              "paging": "false",
              "pageLength": 50,
              "rowId": "index",
              "fixedColumns": false,
              "autoWidth": true,
              "lengthChange" : false,
              // "scrollY": 300,
              "scrollX": true,
              "sScrollX": "100%",
            }
          );
      });
    </script>
  {% endblock %}
