<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/fc-3.3.0/sc-2.0.1/datatables.min.css"/>
  </head>
  <body>
    <div class="w-85 p-3">
      <div class="jumbotron">
        <h1 class="display-4">Horrible Stats For A Horrible Server</h1>
          {% block content %}
          <div style="width:100%">
            {{data | safe}}
          </div>
          {% endblock %}
    </div>
  </div>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.20/fc-3.3.0/sc-2.0.1/datatables.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          $('#stats').DataTable( {
              "paging": "false",
              "pageLength": 100,
              "rowId": "index",
              "fixedColumns": true,
              // "scrollY": 300,
              "scrollX":true,
              "sScrollX": "100%",
              "fixedColumns":   {
                "leftColumns": 2
              }
            }
          );
      });
    </script>
  </body>
</html>
